.*
*.pyc
*.pyo
*~
#*
*.1
*.bak
*.bak2
*.svn
*.w2p
*.class
*.rej
*.orig
Thumbs.db
.DS_Store
index.yaml
routes.py
logging.conf
httpserver.log
httpserver.pid
parameters*.py
/ssl
/docs
/logs
./*.zip
cron.master
databases/*
sessions/*
errors/*
cache/*
uploads/*
cron/*
.idea/*
